<!-- ======= Hero Section ======= -->
<footer id="footer">


    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4> Les secteurs d'offres </h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Owner</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4> Contacter Nous </h4>
                    <p>
                        <strong>Adresse:</strong> +1 5589 55488 55<br>
                        <strong>Telephone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>

                </div>



            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Job It</span></strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{/vendor/php-email-form/validate.js}"></script>
<script th:src="@{/vendor/purecounter/purecounter.js}"></script>
<script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/vendor/waypoints/noframework.waypoints.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>