
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div data-th-replace="navbar"></div>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="container">
                <h2>Gestion Offres</h2>
                <h6>Formulaire ajouter offres</h6>
            </div>
            <div class="container">
                <form th:object="${Formoffre}" method="POST" th:action="@{/offres/save}">
                    <div class="form-group">
                        <label for="poste">Poste</label>
                        <input type="text" class="form-control" id="poste" th:field="*{poste}">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('poste')}" th:errors="*{poste}"></div>
                    </div>


                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" th:field="*{Description}">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('Description')}" th:errors="*{Description}"></div>
                    </div>

                    <div class="form-group">
                        <label for="Salaire">Salaire</label>
                        <input type="text" class="form-control" id="Salaire" th:field="*{Salaire}">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('Salaire')}" th:errors="*{Salaire}"></div>
                    </div>

                    <div class="form-group">
                        <label for="Deadline">Deadline</label>
                        <input type="date" class="form-control" id="Deadline" th:field="*{Deadline}">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('Deadline')}" th:errors="*{Deadline}"></div>
                    </div>

                    <div class="form-group">
                        <label for="motscle">Mots clés</label>
                        <input type="text" class="form-control" id="motscle" th:field="*{motscle}">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('motscle')}" th:errors="*{motscle}"></div>
                    </div>


                    <div class="form-group">
                        <label for="categories">Domaine</label>
                        <select class="form-control" id="categories" th:field="*{domaine}">
                            <option value="Devops">Devops</option>
                            <option value="Securite">Securite</option>
                            <option value="SAP">SAP</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="entreprise">Entreprise</label>
                        <select  class="form-control" id="entreprise"  th:field="*{entreprise}" >
                            <option th:each="c:${entreprises}" th:value="${c.id}" th:utext="${c.nomEnt}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; Company 2017-2018</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
